* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
  }
  .container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    transform-style: preserve-3d;
    min-height: 85vh;
    width: 38rem;
    border-radius: 30px;
    padding: 0rem 6rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  }
  
  .sneaker {
    min-height: 38vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sneaker img {
    width: 22rem;
    z-index: 2;
    transition: all 0.70s ease-out;
  }
  .circle {
    width: 17rem;
    height: 17rem;
    background: linear-gradient(
      to right,
      rgb(255, 0, 0),
      rgb(255, 102, 0)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  
  .info h1 {
    font-size: 2rem;
    transition: all 0.70s ease-out;
  }
  .info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.70s ease-out;
  }
  .sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.70s ease-out;
  }
  .sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #000000;
  }
  button.active {
    background: #000000;
    color: white;
  }
  .purchase {
    margin-top: 6rem;
    transition: all 0.70s ease-out;
  }
  .purchase button {
    width: 100%;
    padding: 1rem 1rem;
    background: #ff0000;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 35px;
    font-weight: bolder;
  }